.tv {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    border-radius: 5% / 50%;
}
.content::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.2) 50%), linear-gradient(180deg, rgba(255, 0, 0, .62), rgba(0, 255, 0, 0.37), rgba(0, 0, 255, .59));
    background-size: 2px 100%, 100% 3px;
    z-index: 2;
    opacity: 0.8;
    pointer-events: none;
}
.content {
    text-shadow: 0.1841838852799786px 0 1px rgba(0,30,255,0.5), -0.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    transform: skew(-10deg);
    /* background-color: white; */
    border-radius: 50% / 10%;
}


/* Code originally from Alec Lownes @ https://aleclownes.com/2017/02/01/crt-display.html */
/* It has been modified for use in this project */